
# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myenv/
.venv/

# Firebase
.firebase/
firebase.json
database.rules.json
storage.rules

# IDX
.idx/
.dev.nix

# VSCode
.vscode/

# Build output
/public/*
!/public/style.css
!/public/common.js
!/public/translations.js
!/public/logo.svg
!/public/favicon.svg
!/public/ads.txt
!/public/index.html
!/public/index-en.html
!/public/about.html
!/public/contact.html
!/public/inquiry.html
!/public/privacy-policy.html
!/public/write.html
!/public/post.html
!/public/edit.html
!/public/ai-test.html
!/public/saju-test.html
!/public/animal_face_test.html
!/public/posts/

# Other
*.log
*.pot
*.swp
.DS_Store
/functions/api/saju.js
.env
secrets.json
.secret
secrets/
.secrets
key.json
service-account.json
serviceAccountKey.json
google-services.json
firebase-adminsdk.json
firebase-service-account.json
client_secret.json
credentials.json
.credentials
/functions/api/config.js

#tracking-sa
/.firebase/
/functions/api/
.firebaserc
/saju-test.js
/saju-test.html

#tracking-sa-final
.venv
.vscode
__pycache__
myenv
.idx
.firebase
*.pyc
venv/
