<header>
    <nav>
        <ul>
            <li><a href="index.html" data-i18n="home">홈</a></li>
            <li><a href="animal_face_test.html" data-i18n="animal_face_test">동물상 테스트</a></li>
            <li><a href="inquiry.html" data-i18n="partnership_inquiry">파트너십 문의</a></li>
            <li><a href="about.html" data-i18n="about_us">회사 소개</a></li>
            <li><a href="contact.html" data-i18n="contact">문의</a></li>
            <li><a href="privacy-policy.html" data-i18n="privacy_policy">개인정보처리방침</a></li>
        </ul>
    </nav>
    <div class="utility-buttons">
        <button id="color-change" data-i18n="theme_change">테마 변경</button>
        <div id="language-switcher"></div>
    </div>
</header>
